
.st-emotion-cache-6qob1r{
    background-color: rgba(232, 112, 0, 0.382);
}

.st-an st-ao st-ap st-aq st-ak st-ar st-am st-as st-at st-au st-av st-aw st-ax st-ay st-az st-b0 st-b1 st-b2 st-b3 st-b4 st-b5 st-b6 st-b7 st-b8 st-b9 st-ba st-bb{
    background-color: transparent;

}

.st-emotion-cache-j2gzdx p {
    color: black;
}



.st-emotion-cache-d382i5:focus:not(:active){
    color: #fff;
    background-color: #000;
}




/* block-container st-emotion-cache-1y4p8pa ea3mdgi5{
    min-height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.6), var(--secondary)),url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
} */


